h1 {
    text-align: center;
    margin-top: 0px;
}

.mainLayout {
    display: flex;
    padding-left: 50px;
}

.year_selection {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding-left: 10px;
}

.yearButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    font-size: 18px;
    margin: 2px;
}

.formstyle {
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.yearButton:hover {
    background-color: rgb(61, 53, 53);
    color: white;
}

.yearButton:active {
    background-color: black;
    color: white;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio]:checked + label{
    background-color: black;
    color: white;
}

.food_selection {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 10px;
}

.foodButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-transform: uppercase;
    font-size: 15px;
    margin: 2px;
}

.foodButton:hover {
    background-color: rgb(61, 53, 53);
    color: white;
}

.foodButton:active {
    background-color: black;
    color: white;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

input[type=checkbox]:checked + label{
    background-color: black;
    color: white;
}

.country_selection {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 10px;
}

.countryButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-transform: uppercase;
    font-size: 15px;
    margin: 2px;
}

.countryButton:hover {
    background-color: rgb(61, 53, 53);
    color: white;
}

.countryButton:active {
    background-color: black;
    color: white;
}

.svg-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}