h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.viz {
    display: flex;
}

.selections {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yearButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    font-size: 18px;
    margin: 2px;
}

.formstyle {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.yearButton:hover {
    background-color: rgb(61, 53, 53);
    color: white;
}

.yearButton:active {
    background-color: black;
    color: white;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio]:checked + label{
    background-color: black;
    color: white;
}

.foodButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-transform: uppercase;
    font-size: 15px;
    margin: 2px;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

/* BUTTON 1 */
#foodButton1:hover {
    box-shadow:inset 0px 0px 0px 3px #003f5c;
}

#foodButton1:active {
    background-color: #003f5c;
    color: white;
}

input[type=checkbox]:checked + label#foodButton1{
    background-color: #003f5c;
    color: white;
}

/* BUTTON 2 */
#foodButton2:hover {
    box-shadow:inset 0px 0px 0px 3px #7a5195;
}

#foodButton2:active {
    background-color: #7a5195;
    color: white;
}

input[type=checkbox]:checked + label#foodButton2{
    background-color: #7a5195;
    color: white;
}

/* BUTTON 3 */
#foodButton3:hover {
    box-shadow:inset 0px 0px 0px 3px #ef5675;
}

#foodButton3:active {
    background-color: #ef5675;
    color: white;
}

input[type=checkbox]:checked + label#foodButton3{
    background-color: #ef5675;
    color: white;
}

/* BUTTON 4 */
#foodButton4:hover {
    box-shadow:inset 0px 0px 0px 3px #ffa600;
}

#foodButton4:active {
    background-color: #ffa600;
    color: white;
}

input[type=checkbox]:checked + label#foodButton4{
    background-color: #ffa600;
    color: white;
}

/* BUTTON 5 */
#foodButton5:hover {
    box-shadow:inset 0px 0px 0px 3px #ffa600;
}

#foodButton5:active {
    background-color: #ffa600;
    color: white;
}

input[type=checkbox]:checked + label#foodButton5{
    background-color: #ffa600;
    color: white;
}

.svg-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.progress-bar {
    fill: #ef5675;
  }
  
  .progress-bar-bg {
    fill: hsl(323, 13%, 88%);
  }
  
  .progress-label {
    fill: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-anchor: middle;
    dominant-baseline: central;
  }