h1 {
    text-align: center;
}

.year_selection {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.yearButton {
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 24px;
}

.formstyle {
    margin-left: 10px;
}

.yearButton:hover {
    background-color: rgb(61, 53, 53);
    color: white;
}

.yearButton:active {
    background-color: black;
    color: white;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio]:checked + label{
    background-color: black;
    color: white;
}

.svg-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}